Host cluster-client
    User mpiuser
    HostName {{ cluster_client_ip }}
    IdentityFile ~/.ssh/cluster.pem

Host cluster-server-0
    User mpiuser
    HostName {{ cluster_server_0_ip }}
    IdentityFile ~/.ssh/cluster.pem

Host cluster-server-1
    User mpiuser
    HostName {{ cluster_server_1_ip }}
    IdentityFile ~/.ssh/cluster.pem
